{% extends 'base.html' %}

{% block title %}
    {{ screen_name }}
{% endblock %}

{% block body %}
<h3 class="display-4"><img src="{{ userDetails['profile_pic']}}"><b>{{ screen_name }}</b>'s Tweets</h3>
    <div class="container row">
    {% for tweet in userDetails['tweets'] %}
        <div class="card alert-{{'success' if probabilities[tweet['id']] > 0.7 else 'danger'}} m-1" style="width: 18rem;">
            <div class="card-body">
                {{ tweet['text'] }}
            </div>
        <div class="card-footer text-center text-secondary">{{ ("%.2f" % probabilities[tweet['id']]) }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}