{% extends 'base.html' %}

{% block title %}
    {{ screen_name }}
{% endblock %}

{% block body %}
    <h3 class="display-4">
        <img src="{{ userDetails['profile_pic']}}" class="rounded"> <b>{{ userDetails['screen_name'] }}</b>
        -
        <span class="text-{{'success' if final=='Not Propaganda' else 'danger'}}">
            {{ final }}
        </span>
    </h3>
    <p class="lead">
        {{ userDetails['description'] }}
    </p>
    <div class="container row">
        <div class="col">
            <b>Name:</b> {{ userDetails['name']}} <br>
            <b>Created at:</b> {{ userDetails['created_at'] }} <br>
            <b>Location:</b> {{ userDetails['location'] }} <br>
        </div>
        <div class="col">
            <b>Followers count:</b> {{ userDetails['followers_count'] }} <br>
            <b>Statuses count:</b> {{ userDetails['statuses_count'] }} <br>
            <b>Favourites count:</b> {{ userDetails['favourites_count'] }} <br>
        </div>
        <div class="col">
            <b>Friends count:</b> {{ userDetails['friends_count'] }} <br>
            <b>Listed count:</b> {{ userDetails['listed_count'] }} <br>
        </div>
    </div>
    <small class="text-center">Classified by {{ model }} model</small>
    <div class="container row">
    {% for tweet in tweets %}
        <div class="card alert-info m-1" style="width: 18rem;">
            <div class="card-body">
                {{ tweet['text'] }}
            </div>
            <div class="card-footer text-center text-secondary">
                <!--{{ predictions[loop.index-1][0] }}-->
                <div class="row">
                    <div class="col"><small><i class="fas fa-retweet"></i> {{ tweet['retweet_count'] }}</small></div>
                    <div class="col"><small><i class="far fa-heart"></i> {{ tweet['favorite_count'] }}</small></div>
                </div>

            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}